---
// 跳转到评论区按钮组件样式
import "./CommentJumpButton.less";
---

<button
    class="vh-comment-jump-button"
    id="vh-comment-jump-button"
    title="跳转到评论区"
>
    <div class="button-content">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
        >
            <path
                d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"
            ></path>
        </svg>
        <span class="button-text">评论</span>
    </div>
</button>

<script>
    import CommentJumpButtonInit from "@/scripts/CommentJumpButton";

    // 初始化评论跳转按钮
    CommentJumpButtonInit();
</script>
