section.vh-back-top {
  position: fixed;
  right: var(--vh-back-top);
  bottom: 2rem;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  border: 1px solid #49B1F5;
  background-color: var(--vh-white-color);
  transform: translateX(1rem);
  cursor: pointer;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transition: transform .188s, opacity .18s;
  z-index: 9;

  &.active {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }

  // 在文章页面时隐藏右下角的回到顶部按钮
  // 使用CSS选择器检测页面中是否存在文章内容
  body:has(.vh-article-main) & {
    display: none !important;
  }

  &>svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    fill: currentColor;

    &.icon {
      width: 66%;
      height: 66%;
    }
  }
}

// 亮色模式下的颜色
:root {
  .vh-back-top>svg {
    color: #49B1F5;
  }
}

// 暗色模式下的颜色
html[data-theme="dark"] {
  .vh-back-top>svg {
    color: #49B1F5;
  }
}