---
// 基础 样式
import "./Footer.less";
---

<footer class="vh-footer">
	<main>
		<p>
			<a
				href="https://status.helong.online/"
				target="_blank"
				rel="noopener noreferrer"
				><img
					src="https://status.helong.online/api/badge/3/status"
					alt="所有服务"
				/></a
			>
			<a
				href="https://astro.build/"
				target="_blank"
				rel="noopener noreferrer"
				><img alt="Astro" src="/assets/images/footer/astro.svg" /></a
			><a
				href="https://github.com/uxiaohan/vhAstro-Theme"
				target="_blank"
				rel="noopener noreferrer"
				><img
					alt="vhAstro-Theme"
					src="/assets/images/footer/theme.svg"
				/><a href="/rss.xml" target="_blank"
					><img alt="rss" src="/assets/images/footer/rss.svg" /></a
				>
			</a>
		</p>
		<p>
			<!-- <a href="https://beian.miit.gov.cn/" target="_blank"
					>陇ICP备2024006356号</a
				> -->
			<div class="icp">
				© 2025 HeLong<a
					href="http://beian.miit.gov.cn/"
					target="_blank"
				>
					陇ICP备2024006356号
				</a>
			</div>
		</p>
	</main>
</footer>
